.download-button {
    width: 133px;
    max-width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    background: #006C35;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}