.freedom__section .container {
  background: var(--colors-brand-green-primary-1, #E5F0EB);
  margin-bottom: 5px;
  border-radius: 24px;
  padding: 30px 40px;

  .freedom__section {
    &__info {
      display: flex;
      align-items: center;

      &__title {
        font-size: 48px;
        font-weight: 300;
        margin-bottom: 23px;
      }

      &__description {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 23px;
      }

      &__link {
        font-size: 18px;
        font-weight: 300;
        color: #006031;
        background: url('/images/arrow-link.svg') no-repeat right center;
        padding-right: 30px;
      }
    }
  }
}