.open__map {
  background-image: url('/images/open-map/open-map-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  min-height: 820px;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-top: 54px;

  &__info {
    text-align: center;
    font-family: Lato;

    &__title {
      font-family: Lato;
      font-size: 48px;
      line-height: 60px;
      margin-bottom: 20px;
      font-weight: 300;
    }
    &__description {
      font-size: 24px;
      line-height: 30px;
      font-weight: 300;
    }
  }
}