.top_menu_logo {
  background-image: url("/logos/green-on-transparent.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  background-origin: content-box;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
}

.top_menu_item,
.top_menu_item_active {
  white-space: nowrap;

  a {
    text-decoration: none;
  }
}

.top_menu_donate a {
  color: red;
}

.github svg {
  fill: black;

  @media (prefers-color-scheme: dark) {
    fill: white;
  }

  display: inline-block;
  overflow: visible !important;
  margin-right: 0.5rem;
}
