.presentation {
  align-self: center;
  max-width: 80ch;
  text-align: center;
  margin-bottom: 2rem;
}

.screenshots {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  img {
    margin: .5rem;
    max-width: 300px;
  }
}

.comparison {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
  place-items: center;
  width: 100%;
}
