.presentation {
  text-align: center;
  margin-bottom: 4rem;
}

.screenshots {
  display: flex;
  justify-content: center;
  &-wrapper {
    display: flex;
    flex-direction: row;
  
    width: 75vw;
    position: relative;
    left: calc(-38vw + 50%);
  
    height: 40em;
    margin: 4rem 0;
  
    overflow-x: auto;
  
    img {
      margin: 0 0.5em;
    }
  }
}

.comparison {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
  place-items: center;
  width: 100%;
}

