body {
  margin: 1rem;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

main {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

img[alt=logo] {
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
}

strong {
  font-weight: 600;
}

.badge {
  img {
    width: 180px;
  }
}

#screenshots img {
  max-width: 400px;
}

.screenshot {
  max-width: 400px;
  width: 100%;
}

hr {
  height: 2px;
  margin: 7px;
  background: gray;
  border: 0;
}

h1,
h2,
h3 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eaecef;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

p {
  margin: 0 0 16px 0;
}

footer {
  padding-top: 1rem;
  border-top: 1px solid #eaecef;
  text-align: center;

  p {
    font-size: small;
  }
}

@media (max-width: 768px) {
  #badges {
    flex-direction: column;
  }

  #badges a {
    margin: 20px auto;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #bbb;
  }

  h1,
  h2,
  h3 {
    border-bottom: 1px solid #555;
  }

  footer {
    border-top: 1px solid #555;
  }

  a {
    color: lightblue;
  }

  a:visited {
    color: #f9f;
  }

  :root {
    scrollbar-color: #333 #000;
  }
}

.installButton {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  background-image: url("/logo-on-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  background-origin: content-box;
  width: 32px;
  height: 32px;
}

.github {
  svg {
    fill: black;
    @media (prefers-color-scheme: dark) {
      fill: white;
    }
    display: inline-block;
    overflow: visible!important;
  }
}

#menu {
  display: flex;
  justify-content: space-between;
}

#bottom_menu {
  margin-bottom: 1em;
}

.donate_button {
  text-decoration: none;
  border: red 2px solid;
  border-radius: 1rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  margin: 0;
}

.donate_buttons {
  display: flex;
  a {
    margin: 0 1em 0 1em;
  }
}

.hiddenFromSearchEngines {
  font-size: large;
  margin: 1em 0 1em 0;
  color: red;
  // Ovewrites the default content of the div but it isn't supported by all browsers.
  content: "The crash on the startup after Android update and the temporary app availability in Google Play Store should be fixed soon.";
}
.hiddenFromSearchEngines::before {
  color: red;
  // Places a hidden text above the div.
  content: "The crash on the startup after Android update and the temporary app availability in Google Play Store should be fixed soon.";
}
