@import "./language_selector";
@import "./top_menu";

body {
  margin: 1rem;
  padding: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "segoe ui",
    Helvetica,
    Arial,
    sans-serif,
    "apple color emoji",
    "segoe ui emoji",
    "segoe ui symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

code,
a {
  color: #0000EE;
  
  // Prevents horizontal scrolling in Safari on narrow screen for long links and code lines.
  word-wrap: anywhere;
}

a:visited { 
  color: #0000EE;
}

header {
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

img {
  max-width: 90%;
}

img[alt="logo"] {
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
}

strong {
  font-weight: 600;
}

.badge {
  img {
    width: 180px;
  }
}

.donate_buttons {
  form,
  input {
    display: inline;
    border-width: 0;
  }

  img,
  input[type="image"] {
    height: 48px;
    width: 48px;
    padding: 2px;
    background-color: white;
    border-radius: 10px;
  }
}

#screenshots img {
  max-width: 400px;
}

.screenshot {
  max-width: 400px;
  width: 100%;
}

hr {
  height: 2px;
  margin: 7px;
  background: gray;
  border: 0;
}

h1,
h2,
h3 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eaecef;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

p {
  margin: 0 0 16px;
}

footer {
  padding-top: 1rem;
  border-top: 1px solid #eaecef;
  text-align: center;

  p {
    font-size: small;
  }
}

@media (width <= 768px) {
  #badges {
    flex-direction: column;
  }

  #badges a {
    margin: 20px auto;
  }

  .news_content_image {
    flex-wrap: wrap;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #121212;
    color: #bbb;
  }

  h1,
  h2,
  h3 {
    border-bottom: 1px solid #555;
  }

  footer {
    border-top: 1px solid #555;
  }

  a {
    color: lightblue;
  }

  a:visited {
    color: #f9f;
  }

  :root {
    scrollbar-color: #333 #000;
  }
}

.installPWAButton {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

#bottom-menu {
  margin-bottom: 1em;

  a {
    text-decoration: none;
  }
}

.menuitem_selected {
  text-decoration: none;
  border: red 2px solid;
  border-radius: 1rem;
  padding: 0.3rem 0.5rem;
  margin: 0;
}

#crypto-table + table {
  font-size: smaller;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.news_date {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin: 1rem 0;

  &::before,
  &::after {
    content: "";
    flex-grow: 1;
    background-color: gray;
    height: 1px;
    font-size: 0;
    line-height: 0px;
    margin: 0;
  }
}

.news_content_image {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.news_image {
  max-height: 520px;
  max-width: 300px;
  margin-left: 0.5rem;
  display: inline-block;
  vertical-align: top;
  width: auto;
}

.news_content {
  display: inline-block;
}

.back_to_news {
  margin-top: 1rem;
}
