body {
  margin: 1rem;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  // font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
}

img[alt=logo] {
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
}

#screenshots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#screenshots img {
  width: 400px;
  margin: 10px;
}

#install {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.badge {
  margin: 0 0.5rem 0 0.5rem;
}

hr {
    height: 2px;
    margin: 7px;
    background: gray;
    border: 0;
}

@media (max-width: 768px) {
  #badges {
    flex-direction: column;
  }
  #badges a {
    margin: 20px auto;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #bbb;
  }

  a {
    color: lightblue;
  }
  a:visited {
    color: #f9f;
  }

  :root {
    scrollbar-color: #333 #000;
  }
}

main {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

footer {
  padding-top: 1rem;
  border-top: 1px solid #eaecef;
  text-align: center;
  p {
    font-size: small;
  }
}

h1, h2, h3 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eaecef;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

strong {
  font-weight: 600;
}
