* {
  box-sizing: border-box;
}

:root {
  --clr-accent: #006c35;

  --clr-fg: #0d0d0d;
  --clr-bg: white;

  @media (prefers-color-scheme: dark) {
    --clr-accent: #00994a;

    --clr-fg: white;
    --clr-bg: #262626;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;

  color: var(--clr-fg);
  background-color: var(--clr-bg);
}

header {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: center;

  background-color: #006c35;
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  z-index: 1;

  div {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80ch;
    margin: 0 1em;

    a {
      display: flex;
      align-items: center;
      color: inherit;
      text-decoration: inherit;
      padding: 0.75em 0;
      font-size: 1.3rem;
    }
  }

  img {
    vertical-align: middle;
  }
}

main {
  align-self: center;
  max-width: 80ch;
  padding: 2rem 0;
  margin: 0 1em;
}

footer {
  font-size: .8rem;
  text-align: center;
  margin-top: 4em;
}

main {
  h1, h2, h3, h4, h5, h6, a {
    color: var(--clr-accent);
  }
}

img {
  max-width: 100%;
}

.white {
  color: white;
}
