@import "../variables/media";

html {
  font-size: 1px;
}

body {
  font: var(--p);
  color: var(--black-white);
  background-color: var(--body-bg);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16rem;
  max-width: var(--container);
}

* {
  transition: background-color 0.3s;
}

.logo .svg-logo {
  @media(max-width: $media-md) {
max-width: 130rem;
  }
}

.frizz {
overflow: hidden;
}
.main {
 min-height: calc(100vh - 200rem);
}
.line {
  width: 100%;
    background-color: var(--green-button);
    max-width: 222rem;
    height: 2rem;
     margin: 10rem auto 40rem;
  &--full {
    max-width: 100%;
    margin: 0;
  }
  @media (max-width: $media-sm) {
          margin: 10rem auto 20rem;
      }
}