@import "../variables/media";

html {
  font-size: 1px;
}

body {
  font: var(--p);
  color: var(--black-white);
  background-color: var(--body-bg);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16rem;
  max-width: var(--container);
}

.logo .svg-logo {
  @media(max-width: $media-md) {
max-width: 130rem;
  }
}