html {
  font-size: 1px;
}

body {
  font: var(--p);
  color: var(--black-white);
  background-color: var(--white-black);
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: var(--container);
}