   <section class="support-block">
        <div class="container support-block__container">
            <h3 class="h3-bold support-block__title"> {{ trans(key='ged-involved-title', lang=lang) }}</h3>
            <div class="support-block__row">
                <div class="support-block__card">
                    {% include 'ui/icons/header/donate.html' %}
                    <h5 class="h4 support-block__icon-title">
                        {{ trans(key='donate-title', lang=lang) }}
                    </h5>

                    <p class="p-sm-light support-block__icon-text">
                        {{ trans(key='donate-description', lang=lang) }}
                    </p>

                </div>
                <div class="support-block__card">
                    {% include 'ui/icons/header/code.html' %}
                    <h5 class="h4 support-block__icon-title">
                        {{ trans(key='contribute-code-title', lang=lang) }}
                    </h5>

                    <p class="p-sm-light support-block__icon-text">
                        {{ trans(key='contribute-code-description', lang=lang) }}
                    </p>

                </div>
                <div class="support-block__card">
                    {% include 'ui/icons/header/location.html' %}
                    <h5 class="h4 support-block__icon-title">
                        {{ trans(key='contribute-location-title', lang=lang) }}
                    </h5>
                    <p class="p-sm-light support-block__icon-text">
                        {{ trans(key='contribute-location-description', lang=lang) }}
                    </p>

                </div>
            </div>

        </div>
    </section>