<div class="freedom__section">
    <div class="container">
        <div class="freedom__section__info">
            <div class="freedom__section__text">
                <div class="freedom__section__info__title">
                    Freedom Is Here
                </div>
                <div class="freedom__section__info__description">
                        Discover your journey, navigate the world with privacy and community are at the forefront.
                </div>
                <a class="freedom__section__info__button">
                        Learn more
                </a>
                </div>
            <img src="/images/sections/search-and-plan-route-banner.png">
        </div>
    </div>
</div>