<section class="services">
    <div class="container services__container">
        <!--Item-->
        <div class="services__item animation animation--right">
            <div class="services__content">
                <h3 class="h2 services__title">
                    Offline Search and Route
                </h3>
                <p class="p services__description">
                    See the place you want to go while in an underground parking garage, and navigate while on a distant
                    hike.
                </p>
                <a class="button button--transparent services__btn" href="#">
                    Learn more
                    {% include 'ui/btn-arrow.html' %}
                </a>
            </div>
            <div class="services__card">
                <img class="services__img services__img--first animation-item" src="/images/sections/map-m-1.png">
                <img class="services__img" src="/images/sections/map-s-1.png">
                <a class="button button--card services__button " href="#">
                    Learn more
                    {% include 'ui/btn-arrow.html' %}
                </a>
            </div>
        </div>
        <!--Item End-->
        <!--Item-->
        <div class="services__item animation animation--left">
            <div class="services__content">
                <h3 class="h2 services__title">
                    Offline Search and Route
                </h3>
                <p class="p services__description">
                    See the place you want to go while in an underground parking garage, and navigate while on a distant
                    hike.
                </p>
                <a class="button button--transparent services__btn" href="#">
                    Learn more
                    {% include 'ui/btn-arrow.html' %}
                </a>
            </div>
            <div class="services__card">
                <img class="services__img services__img--first animation-item" src="/images/sections/map-m-1.png">
                <img class="services__img" src="/images/sections/map-s-1.png">
                <a class="button button--card services__button" href="#">
                    Learn more
                    {% include 'ui/btn-arrow.html' %}
                </a>
            </div>
        </div>
        <!-- Item End-->
        <!--Item-->
        <div class="services__item animation animation--right">
            <div class="services__content">
                <h3 class="h2 services__title">
                    Offline Search and Route
                </h3>
                <p class="p services__description">
                    See the place you want to go while in an underground parking garage, and navigate while on a distant
                    hike.
                </p>
                <a class="button button--transparent services__btn" href="#">
                    Learn more
                    {% include 'ui/btn-arrow.html' %}
                </a>
            </div>
            <div class="services__card">
                <img class="services__img services__img--first animation-item" src="/images/sections/map-m-1.png">
                <img class="services__img" src="/images/sections/map-s-1.png">
                <a class="button button--card services__button" href="#">
                    Learn more
                    {% include 'ui/btn-arrow.html' %}
                </a>
            </div>
        </div>
        <!-- Item End-->
    </div>

</section>