<section class="services">
    <div class="container services__container">
        <!--Item-->
        <div class="services__item animation animation--right">
            <div class="services__content">
                <h3 class="h2 services__title">
                    Offline Search and Route
                </h3>
                <p class="p services__description">
                    See the place you want to go while in an underground parking garage, and navigate while on a distant
                    hike.
                </p>
                <a class="button button--transparent services__btn" href="#">
                    Learn more
                    {% include 'ui/btn-arrow.html' %}
                </a>
            </div>
            <div class="services__card">
                <img class="services__img services__img--first animation-item" src="/images/sections/map-m-1.png" alt="img">
                <img class="services__img" src="/images/sections/map-s-1.png" alt="img">
                <a class="button button--card services__button " href="#">
                  Search
                    {% include 'ui/icons/social/card/icon01.html' %}
                </a>
            </div>
        </div>
        <!--Item End-->
        <!--Item-->
        <div class="services__item animation animation--left">
            <div class="services__content">
                <h3 class="h2 services__title">
                No Tracking or Data Collection
                </h3>
                <p class="p services__description">
                   The app is designed with privacy as a priority and does not identify users, or track information about them.
                </p>
                <a class="button button--transparent services__btn" href="#">
                    Learn more
                    {% include 'ui/btn-arrow.html' %}
                </a>
            </div>
            <div class="services__card">
                <img class="services__img services__img--first animation-item" src="/images/sections/map-m-2.png" alt="img">
                <img class="services__img" src="/images/sections/map-s-2.png" alt="img">
                <a class="button button--card services__button" href="#">
                   No additional permissions required
                    {% include 'ui/icons/social/card/icon02.html' %}
                </a>
            </div>
        </div>
        <!-- Item End-->
        <!--Item-->
        <div class="services__item animation animation--right-revers">
            <div class="services__content">
                <h3 class="h2 services__title">
                 Save Your Battery
                </h3>
                <p class="p services__description">
                  Save Your Battery
Efficiently uses your battery, doesn’t drain your battery like other navigation apps
Learn more
                </p>
                <a class="button button--transparent services__btn" href="#">
                    Learn more
                    {% include 'ui/btn-arrow.html' %}
                </a>
            </div>
            <div class="services__card services__card--start">
                <img class="services__img services__img--first animation-item" src="/images/sections/map-m-3.png" alt="img">
                <img class="services__img" src="/images/sections/map-s-3.png" alt="img">
                <a class="button button--card services__button" href="#">
                  <span> <b>34%</b> <br>  less power usage</span>
                   {% include 'ui/icons/social/card/icon03.html' %}
                </a>
            </div>
        </div>
        <!-- Item End-->
        <!--Item-->
        <div class="services__item animation animation--left">
            <div class="services__content">
                <h3 class="h2 services__title">
               Free and Built by the Community
                </h3>
                <p class="p services__description">
                  People like you helped build the app by adding locations to the OpenStreetMap, giving feedback on features, and contributing code
                </p>
                <a class="button button--transparent services__btn" href="#">
                    Learn more
                    {% include 'ui/btn-arrow.html' %}
                </a>
            </div>
            <div class="services__card">
                <img class="services__img services__img--first animation-item" src="/images/sections/map-m-4.png" alt="img">
                <img class="services__img" src="/images/sections/map-s-4.png" alt="img">
                <a class="button button--card services__button" href="#">
           Free for everyone, Made with love
                    {% include 'ui/icons/social/card/icon04.html' %}
                </a>
            </div>
        </div>
        <!-- Item End-->
    </div>

</section>