<section class="open-map">
    <div class="container open-map__container">
       <div class="open-map__img"></div>
        <h1 class="h2 open-map__title">
            {{ trans(key='organic_title', lang=lang) }}
        </h1>
        <p class="h2-sub open-map__description">
            {{ trans(key='community_title', lang=lang) }}
        </p>
        <div class="open-map__icon-row">
            <img class="open-map__icon" src="/images/open-map/unsplash-1.png" width="50" alt="img">
            <img class="open-map__icon" src="/images/open-map/unsplash-2.png" width="50" alt="img">
            <img class="open-map__icon" src="/images/open-map/unsplash-3.png" width="50" alt="img">

            <img class="open-map__icon" src="/images/open-map/unsplash-4.png" width="50" alt="img">

            <img class="open-map__icon" src="/images/open-map/paul-green-1.png" width="50" alt="img">
            <img class="open-map__icon" src="/images/open-map/paul-green-2.png" width="50" alt="img">
            <img class="open-map__icon" src="/images/open-map/paul-green-3.png" width="50" alt="img">
            <img class="open-map__icon" src="/images/open-map/paul-green-4.png" width="50" alt="img">
        </div>
    </div>
</section>

