<section class="single-section">
    <div class="container single-section__container">
        <!--Item-->
        <div class="single-section__item animation animation--down">
            <div class="single-section__content">
                <h3 class="h2 single-section__title">
                    Offline Search and Route
                </h3>
                <p class="p single-section__description">
                    See the place you want to go while in an underground parking garage, and navigate while on a distant
                    hike.
                </p>
                {% include 'components/download-button.html' %}
            </div>
            <div class="single-section__card">

                <img class="single-section__img animation-item" src="/images/sections/singl-card-1.png">

            </div>
        </div>
        <!--Item End-->
    </div>
</section>