{# Build breadcrumbs in form:
F.A.Q. Android • Bookmarks • General • iOS • Map • Routing • TTS

If we generate /faq/android/, or /faq/general, or etc page then `term` variable is
available with selected FAQ term.
#}
<p class="faq-breadcrumbs">
    <span class="faq-title">{{ trans(key='faq-menu-title', lang=lang) }}</span>
    {% set categories = get_taxonomy(kind='faq', lang=lang) | get(key="items") %}
    {% for item in categories %}
        •
        {% if term and term.name == item.name %} {# Do not show link for current FAQ term #}
            <span class="faq-taxonomy">{{ item.name }}</span>
        {% else %}
            <a href="{{ item.permalink }}" class="faq-taxonomy">{{ item.name }}</a>
        {% endif %}
    {% endfor %}
</p>
