{% extends 'base.html' %}

{% block meta_description %}
  <meta name="description" content="Organic Maps F.A.Q.">
{% endblock %}

{% block content %}
<section class="hero-sub" style="background-image: url(/faq/hero_image.png)" >
  <div class="container hero-sub__container">
    <nav class="bred-crum">
      <ul class="bred-crum__row">
        <li class="bred-crum__item">
          <a class="nav-bred bred-crum__link" href="/">Home</a>
        </li>
        <li class="bred-crum__item">
                    <span class="nav-bred">
                        >
                    </span>
        </li>
        <li class="bred-crum__item">
          <a class="nav-bred bred-crum__link bred-crum--active"
             href="/faq">Faq</a>
        </li>
      </ul>
    </nav>
    <div class="hero-sub__content">
      <h1 class="h1 hero-sub__title">
        Faq
      </h1>


    </div>
  </div>
</section>



<section class="search">
  <div class="container search__container">
    <label class="search__label" for="inpSearch">
      {% include 'ui/search.html' %}
      <input class="search__input" id="inpSearch" type="text" placeholder="Search">
    </label>
  </div>
</section>
<section class="faq-page-list">
  <div class="container faq-page-list__row">
    <h2 class="h2-inter faq-page-list__title">Faq</h2>
    {%- for term in terms -%}

    <ul class="faq-page-list__table">
      <li class="faq-page-list__table-item"><a class="h5-boold faq-page-list__table-title" href="{{term.permalink}}">{{term.name}} questions</a></li>
      {%- for faq_page in term.pages | sort(attribute="extra.order") -%}
      <li class="faq-page-list__table-item"><a class="h5 faq-page-list__table-link" href="{{ faq_page.permalink }}">{{ faq_page.title }}</a></li>
      {%- endfor -%}
    </ul>
    {%- endfor -%}

  </div>
</section>

<section class="faq-page-footer">
  <div class="container faq-page-footer__row">
    <h2 class="h2-inter faq-page-footer__title">Need more help? Contact us directly:</h2>
  </div>
  {% include 'section/social-icon.html' %}
</section>
{% include 'section/donate.html' %}
{% endblock content %}
