// Common COLOR
:root {
  --common-black: #000D07;
  --common-white: #ffffff;
  --common-green: #006C35;
  --common-green-primery: #CCE1D7;
  --common-green-btn: #006031;
  --common-green-hover: #2b6445;
  --common-grey: #D9DBDA;
}

// Theme COLOR change
.light {
  --body-bg: var(--common-white);
  --white-black: var(--common-white);
  --black-white: var(--common-black);
  --green-theme: #006031;
  --bg-green: #E5F0EB;
  --footer-bg: #F5F5F5;
  --green-button: var(--common-green);
}

.dark {
  --body-bg: #2C2C2C;
  --white-black: var(--common-black);
  --black-white: var(--common-white);
  --green-theme: var(--common-green);
  --bg-green: #33453D;
  --footer-bg: var(--common-black);
  --green-button: #BBD7A7;
}