// Common COLOR

@import "../variables/media";
:root {
  --common-black: #000D07;
  --common-white: #ffffff;
  --common-green: #006C35;
  --common-green-primery: #CCE1D7;
  --common-green-btn: #006031;
  --common-green-hover: #2b6445;
  --common-grey: #D9DBDA;
  --common-grey-v2: #5A5A5A;
  --common-green-border: #99C4AF;
  --common-line-color: #AEC5BA;
  --common-black-sub: #26312C;
  --common-green-btn-social: #33895E;
 --common-acord-button: #BFDACC;
  --common-green-gradient: linear-gradient(90deg, #006C35 0%, rgba(0, 96, 49, 0.00) 100%);
}



// Theme COLOR change
.light {
  --acordion-green: #F2F8F5;
  --acordion-green-bg: #E5F0EB;
  --body-bg: var(--common-white);
  --white-black: var(--common-white);
  --black-white: var(--common-black);
  --green-theme: #006031;
  --bg-green: #E5F0EB;
  --footer-bg: #F5F5F5;
  --green-button: var(--common-green);
  --icon-border-green: #66A686;
}

.dark {
  --acordion-green: #33453D;
   --acordion-green-bg: #64776E;
  --body-bg: #2C2C2C;
  --white-black: var(--common-black);
  --black-white: var(--common-white);
  --green-theme: var(--common-green);
  --bg-green: #33453D;
  --footer-bg: var(--common-black);
  --green-button: #BBD7A7;
  --icon-border-green: var(--common-white);
}