// Common COLOR
:root {
  --common-black: #000D07;
  --common-white: #ffffff;
  --common-green: #006C35;
  --common-green-primery: #CCE1D7;
  --common-green-hover: #2b6445;
}

// Theme COLOR change
.light {
  --white-black: var(--common-white);
  --black-white: var(--common-black);
  --green-theme: #006031;
}

.dark {
  --white-black: var(--common-black);
  --black-white: var(--common-white);
  --green-theme: var(--common-green);
}