//font-family: 'Inter', sans-serif;
//font-family: 'Lato', sans-serif;
:root {
  --main-font: 'Inter', sans-serif;
  --sub-fonst: 'Lato', sans-serif;

  --h1: 300 48rem/60rem var(--sub-fonst);
  --h1-sub: 400 24rem/32rem var(--main-font);
  --p: 300 18rem/28rem var(--main-font);
  --nav-link: 500 16rem/28rem var(--main-font);
}

.h1{
  font: var(--h1);
  color: var(--common-white);
}
.h1-sub {
  font: var(--h1-sub);
  color: var(--common-white);
}
.p{
  font: var(--h1);
}

.nav-link{
 font: var(--nav-link);
}

