:root {
  --map-section-icon: url('/images/open-map/open-map-logo.png');

}

.light {
  --map-section-bg: url('/images/open-map/map-bg.png');
}

.dark {
  --map-section-bg: url('/images/open-map/map-bg-dark.png');
}