:root {
  --container: 1100rem;

  --mb-16: 16rem;
  --mb-40: 40rem;

  --border-r-8: 8rem;
  --border-r-24: 24rem;

  --transition: 0.5s;

  --icon-border: 2rem;

  --container-mob-section: 60rem;
  --container-mob-padding: 16rem;

  --menu-height: 90rem;
}