<p id='install'>
  <span class="badge">
    <a href="https://apps.apple.com/app/organic-maps/id1567437057" title="{{ trans(key='install-appstore', lang=lang) }}"><img src="/images/badges/apple-appstore.svg"></a>
  </span>
  <span class="badge">
    <a href="https://play.google.com/store/apps/details?id=app.organicmaps&hl={{ lang }}" title="{{ trans(key='install-googleplay', lang=lang) }}"><img src="/images/badges/googleplay.svg"></a>
  </span>
  <span class="badge">
    <a href="https://f-droid.org/{{ lang }}/packages/app.organicmaps/" title="{{ trans(key='install-fdroid', lang=lang) }}"><img src="/images/badges/f-droid.svg"></a>
  </span>
  <span class="badge">
    <a href="https://appgallery.huawei.com/#/app/C104325611?local={{ lang }}" title="{{ trans(key='install-appgallery', lang=lang) }}"><img src="/images/badges/huawei-appgallery.png"></a>
  </span>
</p>
