<div class="donate_buttons">
  <iframe src="https://github.com/sponsors/organicmaps/button" title="Sponsor Organic Maps" height="35" width="116" style="border: 0;"></iframe>

  <a href="https://liberapay.com/OrganicMaps/donate" title="Donate with Liberapay"><img src="/images/liberapay.svg" alt="Liberapay" height="35" /></a>

  <form action="https://www.paypal.com/donate" method="post" target="_top">
    <input type="hidden" name="hosted_button_id" value="JYM34AADM87V8" />
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="Donate to Organic Maps using PayPal" alt="Donate with PayPal button" />
  </form>

  <a href="/donate#sepa-and-direct-bank-transfer" title="SEPA or direct bank transfer">S€PA</a>
  <a href="/donate#crypto" title="Bitcoin, Monero, Ethereum, Algorand, Tron, Zcash, Litecoin, Binance, etc.">CRYPTO</a>
</div>
