@import "../variables/media";
@media (min-width: $media-md) {
  .animation {
    &--right {
      .animation-item {
        left: 171rem!important;
        opacity: 0!important;
        transition: left var(--transition), opacity var(--transition);
      }

    }
    &--right-play {
      .animation-item {
        left: 38rem!important;
        opacity: 1!important;
        transition: left var(--transition), opacity var(--transition);
      }

    }

    &--left {
      .animation-item {
        right: 171rem!important;
        opacity: 0!important;
        transition: right var(--transition), opacity var(--transition);
      }

    }
    &--left-play {
      .animation-item {
        right: 40rem!important;
        opacity: 1!important;
        transition: right var(--transition), opacity var(--transition);
      }

    }

    &--down {
      .animation-item {
        margin-bottom: -271rem!important;
        opacity: 0!important;
        transition: margin-bottom var(--transition), opacity var(--transition);
      }

    }
    &--down-play {
      .animation-item {
        margin-bottom: 0rem!important;
        opacity: 1!important;
        transition: margin-bottom var(--transition), opacity var(--transition);
      }

    }
    &--play-right-revers {
    .animation-item {
            left: 170rem!important;
            opacity: 1!important;
            transition: left var(--transition), opacity var(--transition);
          }
    }
  }
}
