@import "../variables/media";

.post-min {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__img {
    margin-bottom: 20rem;
    width: 100%;
    &--one {
     max-height: 278rem;
      object-fit: cover;
      object-position: center;
      border-radius: 10rem;
      height: 100%;
      &:not(:first-of-type) {
        display: none;
      }
    }
    &--single {
      max-width: 500rem;
      float: right;
      margin: 0 0 30rem 30rem;

      @media (max-width: $media-sm) {
        float: none;
        max-width: 100%;
        margin: 0;
      }
    }
  }

  &__content {
    overflow: hidden;
  }

  &__title {
    color: var(--black-white);
    font-weight: 400;
  }

  &__text {
    color: var(--text-com-color);
    margin-bottom: 20rem;
  }

  &__link {
    color: var(--green-theme);
    font-weight: 300;
    text-decoration: underline;

  }

  &__line {
    margin: 0;
    max-width: 100%;
    margin: 15rem 0 20rem;

  }

  &__dates {
    display: flex;
    gap: 20rem;
    align-items: center;
    margin-bottom: 10rem;
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  &__date-title {
    color: var(--data-text-color);
  }
}