@import "../variables/media";

.free-open {
  padding: var(--container-mob-section) 0;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 74rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    @media (max-width: $media-sm) {
      grid-template-columns: 1fr;
      gap: 20rem;
    }
  }

  &__img {
    width: 100%;
    border-radius: 20rem;
    position: relative;
    z-index: 4;
  }

  &__img-row {
    position: absolute;
    top: 0;
    right: 16rem;
    width: 50%;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: var(--cart-bg);
      border-radius: 20rem;
      position: absolute;
      transform: translate(-15rem, 10rem);
      z-index: 1;
    }

    @media (max-width: $media-sm) {
      position: relative;
      right: 0;
      width: fit-content;
      margin: 15rem 0;
      &:before {
        transform: translate(-10rem, 5rem);
      }
    }
  }

  &__line {
    margin: 20rem 0;
    max-width: 222rem;
    height: 5rem;
    @media (max-width: $media-sm) {
      display: none;
    }
  }
}

.about-us {
  &__content {
    background-color: var(--cart-bg);
    width: fit-content;
    border-radius: 10rem;
    padding: 30rem 22rem 22rem;
    flex-grow: 1;
    max-width: 375rem;
    margin: -100rem 20rem 0;
    @media (max-width: $media-sm) {
      margin: -70rem 0rem 0 10rem;
      z-index: 4;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20rem;

    @media (max-width: $media-sm) {
      grid-template-columns: 1fr;
    }

  }

  img {
    width: 100%;
  }

  &__img {
    border-radius: 10rem;
    @media (max-width: $media-sm) {
      transform: translateX(-5rem);
      z-index: 1;
    }
  }

  &__icon {

    width: 79rem;
    height: 79rem;
    border-radius: 79rem;
    background-color: var(--common-green);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--common-white);
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: $media-sm) {

    }
  }

  &__title {
    padding-bottom: 10rem;
  }

  &__title-row {

    margin: -50rem 0 10rem;
    display: flex;
    gap: 15rem;
    align-items: flex-end;
  }
}

.about-history {
  padding-top: var(--container-mob-section);

  &__title {
    margin-bottom: 30rem;
  }

  &__circle {
    width: 18rem;
    border-radius: 18rem;
    height: 18rem;
    margin: 20rem 0 20rem 17rem;
    background-color: var(--green-button);
    position: relative;
    z-index: 5;
    @media (max-width: $media-sm) {
      margin: 0;
    }
  }

  &__number--green {
    color: var(--green-button);
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    align-items: flex-start;
    gap: 33rem;
    position: relative;

    &:before {
      content: "";
      border-radius: 4rem;
      height: 4rem;
      background-color: var(--bg-green);
      position: absolute;
      width: 100%;
      z-index: 1;
      top: 63rem;
    }

    @media (max-width: $media-sm) {
      grid-template-columns: 1fr;
      &:before {
        height: 100%;
        width: 4rem;
        top: 50%;
        transform: translateY(-53%);
        left: 7rem;
      }
    }
  }

  &__item {
    @media (max-width: $media-sm) {
      display: flex;
      align-items: flex-start;
      gap: 32rem;
    }
  }

  &__count {
    @media (max-width: $media-sm) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 10rem;
    }
  }
}

.about-links {
  margin: var(--container-mob-section) 0;

  &__title {
    margin-bottom: 30rem;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 40rem;
     @media (max-width: $media-sm) {
      gap: 10rem;
    }
  }

  img {
    width: 100%;
    object-fit: contain;
    max-width: 407rem;
  }

  &__link {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    padding: 18rem;
    box-shadow: var(--common-card-box-shadow);
    border-radius: 10rem;
    background-color: var(--link-map-section);
  }
}

