@import "../variables/media";

.section-community {
  padding: var(--container-mob-section) 0;

  &__container {
    display: flex;

  flex-flow: row wrap;
  justify-content: space-around;
 gap: 80rem 10rem;
    @media (max-width: $media-md) {

      gap: 30rem 34rem;
    }
  }

  &__img-row {
    position: relative;
  }

  &__icon {
    position: absolute;
    bottom: -5rem;
    right: 27rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 523rem;
    width: 50%;
    @media (max-width: $media-md) {
  width: 100%;
    }
  }

  &__img {
    max-width: 370rem;
    @media (max-width: $media-md) {
      max-width: 100%;
    }
  }

  &__title {
    padding: 20rem 0 0;
  }

  &__description {
    text-align: center;
    color: var(--text-com-color);
  }

  &__line {
    height: 1rem;
    background-color: var(--green-button);
    width: 275rem;
    margin: 10rem 0;
  }
}



.donate {
  background-color: var(--bg-green);
  padding: 77rem 0;
  margin: 0 var(--container-mob-section) var(--container-mob-section);
  border-radius: var(--border-r-24);
  @media (max-width: $media-md) {
    padding: 20rem 0;
    margin: 0 14rem 50rem;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30rem;
    @media (max-width: $media-md) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  &__line {
    background-color: var(--green-button);
    width: 120rem;
    height: 1rem;
    margin: 20rem 0;
  }

  &__content {
    max-width: 351rem;
     @media (max-width: $media-md) {
     display: flex;
       flex-direction: column;
       align-items: center;
    }
  }

  &__description {
    margin-bottom: 30rem;
    color: var(--black-white);
  }

  &__img {
    svg {
      color: var(--green-button);
    }
  }
}