@import "../variables/media";

.section-volunteering {
  padding: var(--container-mob-section) 0;

  &__title {
    @media (max-width: $media-sm) {
      display: flex;
      align-items: center;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 16rem;
  }

  &__select {
    display: flex;
    justify-content: space-between;
    padding: 22rem 30rem;
    border-radius: 10rem;
    background-color: var(--acordion-green);
    margin-bottom: 20rem;
    cursor: pointer;
    border: 1rem solid transparent;
    @media (max-width: $media-sm) {
      padding: 16rem 15rem;
    }


  }

  &__block {
    padding: 20rem;
    display: flex;
    flex-direction: column;
    gap: 16rem;
    border-bottom: 1rem solid var(--common-acord-button);
    overflow: scroll;
    max-height: 500rem;

    > div {
      max-height: 500rem;
    }

    img {
      display: inline;
      width: fit-content;
    }

    @media (max-width: $media-sm) {
      padding: 16rem 15rem;

    }
  }

  &__main {
    padding: 30rem;
  }

  &__content {
    overflow: hidden;

    background-color: var(--acordion-green-bg);
    transition: max-height 0.5s ease-in-out;

    margin-top: -24rem;
    border-radius: 0 0 10rem 10rem;
    max-height: 0;

    @media (max-width: $media-sm) {
      margin-top: -27rem;
    }

  }

  &__button {
    background-color: var(--common-acord-button);
    color: var(--common-green);
    width: 34rem;
    height: 34rem;
    font-size: 21px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 34rem;
    &:before {
      content: "+";
    }
  }

  .is-active {
    border-radius: 10rem;
    border: 1rem solid var(--common-acord-button);
    background-color: var(--acordion-green-bg);
    .section-volunteering__button {
      &:before {
      content: "-";
    }
    }
  }

  .is-active + .section-volunteering__content {
    max-height: 500rem;
    border: 1rem solid var(--common-acord-button);

  }

  .active-hei {
    max-height: 500rem;
    border: 1rem solid var(--common-acord-button);
  }
}

