{# Taxonomy and section template to render /news/ #}
{% extends 'base.html' %}

{% block content %}

<h1>{{ resource.title }}</h1>

{# Iterate and use en sections by default and use localized versions only if they are present #}
{% set enNewsSectionTranslation = resource.translations | filter(attribute='lang', value='en') | first %}
{% set enNewsSection = get_section(path=enNewsSectionTranslation.path) %}

{% for sectionStr in enNewsSection.subsections | sort | reverse %}
{% set section = get_section(path=sectionStr) %}
{% for page in section.pages %}
{% set translatedPage = page.translations | filter(attribute='lang', value=lang) | first %}
{% if translatedPage %}
  {% set page = get_page(path=translatedPage.path) %}
{% endif %}

<section{% if page.translations | length <= 1 %} dir="auto"{% endif %} class="{% for taxonomy, terms in page.taxonomies %}{% for term in terms%}{{ term }} {% endfor %}{% else %}News{% endfor %}">

<div class="news_date">&nbsp;<a href="{{ page.path | safe }}">{{ page.date | date(format='%B %e, %Y') }}</a>&nbsp;</div>
{# Display wide images below the text instead of to the right. #}
{% set_global noflex = '' %}
{% for photo in page.assets %}
  {% if photo is not matching("\.mp[34]$") %}
    {% set meta = get_image_metadata(path=photo) %}
    {% if meta.width > meta.height %}
      {% set_global noflex = '_noflex' %}
      {% break %}
    {% endif %}
  {% endif %}
{% endfor %}
<div class="news_content_image{{ noflex }}">
{% if page.content %}
  <div class="news_content">{{ page.content | safe }}</div>
{% endif %}

<span class="news_images">
{% for photo in page.assets | sort %}
  {% if photo is not matching("\.mp[34]$") %}
    {% set meta = get_image_metadata(path=photo) %}
<img class="news_image{% if meta.width > meta.height %}_landscape{% endif %}" src="{{ page.path | safe }}{{ photo | split(pat='/') | last }}" />
  {% endif %}
{% endfor %}
</span>

</section>

</div>
{% endfor %}
{% endfor %}

{% endblock content %}
