{% extends 'base.html' %}

{% block content %}

<h1>{{ resource.date | date(format='%B %e, %Y') }}</h1>

<div class="news_content"{% if resource.translations | length <= 1 %} dir="auto"{% endif %}>
  {{ resource.content | safe }}
</div>

{% for media in resource.assets | sort %}
  {% if media is not ending_with(".mp4") %}
    {% set meta = get_image_metadata(path=media) %}
<img class="news_image{% if meta.width > meta.height %}_landscape{% endif %}" src="{{ resource_path | safe }}{{ media | split(pat='/') | last }}" />
  {% else %}
<video class="news_video" controls autoplay muted>
  <source src="{{ resource_path | safe }}{{ media | split(pat='/') | last }}" type="video/mp4">
</video>

  {% endif %}
{% endfor %}

<div class="back_to_news">
  <a href="{{ get_url(path="@/news/_index.md", lang=lang) }}">{{ trans(key='back', lang=lang) }}</a>
</div>

{% endblock content %}
