{# Taxonomy term template to render /news/releases/ and other terms, where "releases" can be localized to any language #}
{% extends 'base.html' %}

{% block content %}
  {# TODO: Localize titles #}
  {# TODO: Show articles tagged for the en language if they are missing for the other language #}
  {% set rootNewsSection = get_section(path="news/_index.md") %}
  <h1>{{ rootNewsSection.title }}</h1>
  <h2>{{ term.name }}</h2>
  {%- for page in term.pages -%}
  <h3>{{ page.date | date(format='%B %e, %Y') }} <a href="{{ page.permalink }}">{{ page.title }}</a></h3>
  {%- endfor -%}
{% endblock %}
