.layout {
  display: grid;
  max-width: 950px;
  margin: auto;
  padding: 0 25px;
  height: 70vh;
  grid-template-areas: "phone main";
  grid-column-gap: 70px;
  position: relative;

  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 25px;
  }

  .phone {
    position: relative;
    grid-area: phone;
    background-color: black;
    width: 300px;
    height: 600px;
    border-radius: 25px;
    margin-top: 70px;
    z-index: -2;

    @media (max-width: 1000px) {
      margin-top: 0;
      height: 500px;
      width: 250px;
    }

    #slideshow {
      position: relative;
      background-color: white;
      margin: 30px 20px;
      width: calc(100% - 40px);
      height: calc(100% - 60px);
      border-radius: 10px;
      overflow: hidden;

      img {
        position: absolute;
        height: 100%;
        width: 100%;
        transition: opacity 0.6s ease;
        opacity: 0;
      }
    }
  }

  .main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 50px;
      margin-bottom: 0;

      img {
        height: 1.2em;
        transform: translateY(10px);
      }

      @media (max-width: 1000px) {
        font-size: 40px;

        img {
          transform: translateY(20px);
        }
      }
    }

    @media (max-width: 1000px) {
      width: 100%;
      align-items: center;

      img {
        height: 50px !important;
        margin-bottom: 10px !important;
      }
    }

    .badges {
      margin-top: 20px;
      display: flex;

      a {
        text-decoration: none;

        img {
          height: 40px;
          margin-right: 5px;
          margin-bottom: 5px;
        }
      }

      @media (max-width: 700px) {
        flex-direction: column;

        img {
          height: 60px;
        }
      }
    }
  }
}

.layout::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 15%
  );
  z-index: -1;
}

.page {
  margin-top: 70px;

  .comparison {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    img {
      height: 600px;
      margin: 0 10px;

      @media (max-width: 800px) {
        height: auto;
        width: 40vw;
      }
    }
  }
}
