<!DOCTYPE html>
<html lang='en-US'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>Organic Maps | Fast detailed offline maps for travelers, tourists, hikers and cyclists</title>

    <meta property='og:locale' content='en_US' />
    <meta name='description' content='Fast detailed offline maps for travelers, tourists, hikers and cyclists curated with love by MAPS.ME founders' />
    <meta property='og:description' content='Fast detailed offline maps for travelers, tourists, hikers and cyclists curated with love by MAPS.ME founders' />

    <link rel='canonical'      href='http://organicmaps.app/' />
    <meta property='og:url' content='http://organicmaps.app/' />

    <meta property='og:site_name' content='Organic Maps' />
    <meta name='twitter:card' content='summary' />
    <meta property='twitter:title' content='Organic Maps' />
    <script type='application/ld+json'>
    {
        "@context":"https://schema.org",
        "@type":"WebSite",
        "name":"Organic Maps",
        "headline":"Organic Maps",
        "description":"Fast detailed offline maps for travelers, tourists, hikers and cyclists curated with love by MAPS.ME founders",
        "url":"http://organicmaps.app/",
        "publisher": {
            "@type":"Organization",
            "logo": {
                "@type":"ImageObject",
                "url":"http://organicmaps.app/android-chrome-512x512.png"
            }
        }
    }
    </script>

    <link rel='stylesheet' href='main.css'>
</head>

<body>
    <h1>Organic Maps</h1>
    <img src='images/android-chrome-512x512.png' alt='logo'/>
    <p>
        <strong>Organic Maps</strong> is an Android &amp; iOS offline maps app for travelers, tourists, hikers, and cyclists based on top of crowd-sourced <strong>OpenStreetMap</strong> data and curated with love by <strong>MAPS.ME</strong> founders.
    </p>
    <div id='stores'>
        <a href='https://apps.apple.com/app/organic-maps/id1567437057'>
            <img src='images/badges/apple-appstore.png' width='180' />
        </a>
        <a href='https://play.google.com/store/apps/details?id=app.organicmaps'>
            <img src='images/badges/google-play.png' width='180' />
        </a>
        <a href='https://appgallery.huawei.com/#/app/C104325611'>
            <img src='images/badges/huawei-appgallery.png' width='180' />
        </a>
        <a href='https://f-droid.org/en/packages/app.organicmaps/'>
            <img src='images/badges/fdroid.png' width='180' />
        </a>
    </div>

    <p float='left'>
        <img src='images/screenshots/1.jpg' width='400' />
        <img src='images/screenshots/2.jpg' width='400' />
        <img src='images/screenshots/3.jpg' width='400' />
        <img src='images/screenshots/4.jpg' width='400' />
    </p>

    <h2 id='features'>Features</h2>
    <p>Organic Maps is the ultimate companion app for travelers, tourists, hikers, and cyclists:</p>
    <ul>
        <li>Detailed offline maps with places that don’t exist on other maps</li>
        <li>Cycling routes, hiking trails, and walking paths</li>
        <li>Contour lines, elevation profiles, peaks, and slopes</li>
        <li>Turn-by-turn walking, cycling, and car navigation with voice guidance</li>
        <li>Fast offline search on the map and bookmarks</li>
        <li>Dark Mode to protect your eyes</li>
    </ul>

    <h2 id='why-organic'>Why Organic?</h2>
    <p>Organic Maps is pure and organic, made with love:</p>
    <ul>
        <li>Respects your privacy</li>
        <li>Saves your battery</li>
        <li>No unexpected mobile data charges</li>
    </ul>
    <p>Organic Maps is free from trackers and other bad stuff:</p>
    <ul>
        <li>No ads</li>
        <li>No tracking</li>
        <li>No data collection</li>
        <li>No phoning home</li>
        <li>No annoying registration</li>
        <li>No mandatory tutorials</li>
        <li>No noisy email spam</li>
        <li>No push notifications</li>
        <li>No crapware</li>
        <li><s>No pesticides</s></li>
    </ul>

    <p>The application is verified by <a href='https://reports.exodus-privacy.eu.org/en/reports/app.organicmaps/latest/'>Exodus Privacy Project</a>:
    <br />
    <img src='images/privacy/exodus.png' width='400' /></p>
    <p>Organic Maps doesn’t request excessive permissions to spy on you:</p>
    <p float='left'>
        <img src='images/privacy/om.jpg' width='400' />
        <img src='images/privacy/mm.jpg' width='400' />
    </p>
    <p>At Organic Maps, we believe that privacy is a fundamental human right:</p>
    <ul>
        <li>Organic Maps is an indie community-driven open-source project</li>
        <li>We protect your privacy from Big Tech’s prying eyes</li>
        <li>Stay safe no matter wherever you are</li>
    </ul>
    <p>Reject surveillance - embrace your freedom.</p>
    <h2 id='beta'>Beta</h2>
    <p>Please join our beta program, suggest your features, and report bugs:</p>
    <ul>
        <li><a href='https://testflight.apple.com/join/lrKCl08I'>iOS Beta (TestFlight)</a></li>
        <li><a href='https://appdistribution.firebase.dev/pub/i/3c5fcf9cd72f775f'>Android Beta (Firebase)</a></li>
    </ul>
    <h2 id='community'>Community</h2>
    <p>Organic Maps is an <a href='https://github.com/organicmaps/organicmaps'>open-source software</a>
    licensed under the Apache License 2.0.</p>
    <ul>
        <li>Report bugs or issues to <a href='https://github.com/organicmaps/organicmaps/issues'>the issue tracker</a></li>
        <li><a href='https://github.com/organicmaps/organicmaps/discussions/categories/ideas'>Discuss</a> ideas or propose feature requests</li>
        <li>Subscribe to our <a href='https://t.me/OrganicMapsApp'>Telegram Channel</a> for updates</li>
        <li>Join our <a href='https://t.me/OrganicMaps'>Telegram Group</a> to discuss with other users</li>
        <li>Присоединяйтесь к нашей <a href='https://t.me/OrganicMapsRu'>русскоязычной группе в Telegram</a> для обратной связи и помощи</li>
        <li>Visit our <a href='https://github.com/organicmaps/organicmaps'>GitHub page</a></li>
        <li>Contact us by <a href='/cdn-cgi/l/email-protection#3d55585151527d524f5a5c53545e505c4d4e135c4d4d'>email</a></li>
    </ul>
    <hr />
    <p><sub>© 2021 <a href='/cdn-cgi/l/email-protection#3d51585a5c517d524f5a5c53545e505c4d4e135c4d4d'>Organic Maps OÜ</a>, reg. code 16225385</sub>
    <br />
    <sub>Harju maakond, Tallinn, Kristiine linnaosa, A. H. Tammsaare tee 47, 11316, Estonia</sub></p>
    <script data-cfasync='false' src='/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js' integrity='sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=' crossorigin='anonymous'></script>
    <script>anchors.add();</script>
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon="{'rayId':'661c0ddd4f15ffc0','token':'b28f928f324f416aac6c25e2871de0b6','version':'2021.5.2','si':10}"></script>
</body>
</html>

