{% set home = get_section(path='_index.md') %}
{% set news = get_section(path='news/_index.md') %}

{% set langPathPrefix = '' %}
{% if lang != config.default_language %}
{% set langPathPrefix = '/' ~ lang %}
{% endif %}


<div class="container footer__container">
  <div class="footer__rw">
    <a class="footer__logo logo" href="{{ langPathPrefix | safe }}/">{% include 'ui/logo.html' %}</a>
    <div class="footer__text">
      <p class="p-md footer__description">© 2023 Organic Maps OÜ</p>
      <p class="p-md footer__description">reg. code 16225385 </p>
    </div>
    <div class="footer__text">
      <p class="p-md footer__description">Harju maakond, Tallinn, Kesklinna </p>
      <p class="p-md footer__description">linnaosa, Rävala pst 8-810, 10143, Estoni</p>
    </div>
  </div>
  <div class="footer__item">
    <div class="footer__nav">
      <nav class="footer__nav-item" id="bottom-menu" role="navigation">
        {% for page in [home, news] | concat(with=home.pages) %}
        {% set translated = page.translations | filter(attribute='lang', value=lang) | first %}
        {% if translated %}
        {% if "_index" in translated.path %}
        {% set page = get_section(path=translated.path) %}
        {% else %}
        {% set page = get_page(path=translated.path) %}
        {% endif %}
        {% endif %}

        {% if page.extra.menu_title %}
        {% if resource.path != page.path %}<a class="p-sm footer__link" href="{{ page.permalink | replace(from=config.base_url, to="") | safe }}">{% endif %}
        <span class="p-sm footer__link">{{ page.extra.menu_title }}</span>
        {%- if resource.path != page.path %}</a>{% endif %}
        &nbsp;
        {% endif %}
        {% endfor %}
        <a class="p-sm footer__link" href="mailto:hello@organicmaps.app">{{ trans(key='contact', lang=lang) }}</a>
      </nav>
      <div class="switch-theme">
        <div class="switch-theme__toggle"></div>
      </div>
    </div>


  </div>
</div>


