{% set langPathPrefix = '' %}
{% if lang != config.default_language %}
{% set langPathPrefix = '/' ~ lang %}
{% endif %}
<div class="container header__container" id="menu" role="navigation">
      <a class="header__logo logo" href="{{ langPathPrefix | safe }}/">{% include 'ui/logo.html' %}</a>
      <div class="header__row">
          {% for page in [
            get_section(path="news/_index.md"),
            get_page(path="donate/index.md"),
            get_page(path="support-us/index.md")
          ] %}
          {% set translated = page.translations | filter(attribute='lang', value=lang) | first %}
          {% if translated %}
            {% if "_index" in translated.path %}
              {% set page = get_section(path=translated.path) %}
            {% else %}
              {% set page = get_page(path=translated.path) %}
            {% endif %}
          {% endif %}
          <nav class="header__nav header__{{ page.path | split(pat="/") | reverse | nth(n=1) }} header__link{% if page.path != resource.path %}">
            <a href="{{ page.permalink | replace(from=config.base_url, to="") | safe }}">{% else %}_active">{% endif %}
              {{ page.extra.menu_title }}
              {%- if page.path != resource.path %}</a>
          {% endif %}
          </nav>
          {% endfor %}
        </div>
        <div class="header__btn">
            {% include 'components/download-button.html' %}
        </div>
         <div class="header__menu-btn">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                 <path fill-rule="evenodd" clip-rule="evenodd" d="M3 6C3 5.44772 3.44772 5 4 5H20C20.5523 5 21 5.44772 21 6C21 6.55228 20.5523 7 20 7H4C3.44772 7 3 6.55228 3 6ZM3 12C3 11.4477 3.44772 11 4 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H4C3.44772 13 3 12.5523 3 12ZM3 18C3 17.4477 3.44772 17 4 17H20C20.5523 17 21 17.4477 21 18C21 18.5523 20.5523 19 20 19H4C3.44772 19 3 18.5523 3 18Z" fill="#26312C"/>
             </svg>
         </div>
</div>
