{% set langPathPrefix = '' %}
{% if lang != config.default_language %}
{% set langPathPrefix = '/' ~ lang %}
{% endif %}
<div class="container header__container" id="menu" role="navigation">
      <a class="header__logo logo" href="{{ langPathPrefix | safe }}/">{% include 'ui/logo.html' %}</a>
      <div class="header__row">
          {% for page in [
            get_section(path="news/_index.md"),
            get_page(path="donate/index.md"),
            get_page(path="support-us/index.md")
          ] %}
          {% set translated = page.translations | filter(attribute='lang', value=lang) | first %}
          {% if translated %}
            {% if "_index" in translated.path %}
              {% set page = get_section(path=translated.path) %}
            {% else %}
              {% set page = get_page(path=translated.path) %}
            {% endif %}
          {% endif %}
          <nav class="header__nav header__{{ page.path | split(pat="/") | reverse | nth(n=1) }} header__link{% if page.path != resource.path %}">
            <a href="{{ page.permalink | replace(from=config.base_url, to="") | safe }}">{% else %}_active">{% endif %}
              {{ page.extra.menu_title }}
              {%- if page.path != resource.path %}</a>
          {% endif %}
          </nav>
          {% endfor %}
        </div>
        <div class="header__btn">
            {% include 'components/download-button.html' %}
        </div>
</div>
