{% set langPathPrefix = '' %}
{% if lang != config.default_language %}
{% set langPathPrefix = '/' ~ lang %}
{% endif %}
<nav class="container header__container" id="menu" role="navigation">
      <a class="logo" href="{{ langPathPrefix | safe }}/">{% include 'ui/logo.html' %}</a>
      <nav class="header__nav">
          {% for page in [
            get_section(path="news/_index.md"),
            get_page(path="donate/index.md"),
            get_page(path="support-us/index.md")
          ] %}
          {% set translated = page.translations | filter(attribute='lang', value=lang) | first %}
          {% if translated %}
            {% if "_index" in translated.path %}
              {% set page = get_section(path=translated.path) %}
            {% else %}
              {% set page = get_page(path=translated.path) %}
            {% endif %}
          {% endif %}
          <span class="header__{{ page.path | split(pat="/") | reverse | nth(n=1) }} header__item{% if page.path != resource.path %}">
            <a href="{{ page.permalink | replace(from=config.base_url, to="") | safe }}">{% else %}_active">{% endif %}
              {{ page.extra.menu_title }}
              {%- if page.path != resource.path %}</a>{% endif %}
          </span>
          {% endfor %}
        </nav>
</nav>
