body {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol
}

#stores {
    display: flex;
    justify-content: space-around;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #000;
        color: #bbb;
    }

    a {
        color: lightblue;
    }
    a:visited {
        color: #f9f;
    }
}
