{%- if page %}
{%- set resource = page %}
{%- elif section %}
{%- set resource = section %}
{%- endif %}

<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover'>

  <meta name='description' content='{{ resource.description }}'>

  {%- set preview_image = 'images/screenshots/prague.jpg' -%}
  {%- if resource.extra.preview_image -%}
  {%- set preview_image = resource.extra.preview_image -%}
  {%- endif %}
  <meta property='og:image' content='{{ get_url(path=preview_image) }}'>
  <meta property='og:url' content='{{ current_url }}'>
  <meta property='og:type' content='website'>
  <meta property='og:title' content='{{ resource.title }}'>
  <meta property='og:description' content='{{ resource.description }}'>

  <meta name='twitter:card' content='summary_large_image'>
  <meta name='twitter:title' content='{{ resource.title }}'>
  <meta name='twitter:description' content='{{ resource.description }}'>

  <meta name='apple-itunes-app' content='app-id=1567437057'>
  <meta name='wikidata' content='Q107078602'>

  <link href='/main.css' rel='stylesheet' type='text/css'>

  <title>{{ resource.title }}</title>
</head>

<body>
  <header>
    {% include 'menu.html' %}
  </header>

  <main>
    {% block content %} {% endblock %}
  </main>

  <footer>
    {% include 'bottom_menu.html' %}
    <p>
      <span>© 2021 <a href='mailto:legal@organicmaps.app'>Organic Maps OÜ</a>, reg. code 16225385</span>
      <span>Harju maakond, Tallinn, Kristiine linnaosa, A. H. Tammsaare tee 47, 11316, Estonia</span>
    </p>
  </footer>

</body>

</html>
