<nav id="bottom_menu" role="navigation">
  {% if resource.path != '/privacy/' %}<a href='/privacy/'>{% endif %}
    <span>Privacy policy</span>
    {% if resource.path != '/privacy/' %}</a>{% endif %}
  &nbsp;
  {% if resource.path != '/terms/' %}<a href='/terms/'>{% endif %}
    <span>Terms</span>
    {% if resource.path != '/terms/' %}</a>{% endif %}
  &nbsp;
  {% if resource.path != '/donate/' %}<a href='/donate/'>{% endif %}
    <span>Donate</span>
    {% if resource.path != '/donate/' %}</a>{% endif %}
</nav>
