{% extends 'base.html' %}

{% block content %}

{% include 'hero.html' %}

{% include 'open_map.html' %}

{% include 'site_sections.html' %}

{% include 'freedom_section.html' %}

{{ resource.content | safe }}

{% include 'google_native_app_prompt.html' %}

{% endblock content %}

<script>
    window.matchMedia('(prefers-color-scheme: dark)')
        .addEventListener('change',({ matches }) => {
            if (matches) {
                console.log("change to dark mode!")
            } else {
                console.log("change to light mode!")
            }
        })
</script>
