<span>
  <script>
    function onLanguageClick(langCode) {
      window.localStorage.setItem('lang', langCode);
      return true;
    }
  </script>
  <!-- Hidden checkbox is used for pure CSS toggle menu. -->
  {% if resource.translations | length > 1 %}
  <input type="checkbox" id="lang-menu-trigger" class="lang-menu-trigger" />
  {% endif %}
  <label class="no-print" for="lang-menu-trigger">
     🌐 {{ lang | upper }}
  </label>

  <ul class="lang-menu no-print" role="navigation">
    {% for translation in resource.translations | sort(attribute="lang") %}
    {% if lang != translation.lang %}
    <li class="lang-menu-item" role="menuitem">
      <a class="lang-menu-link" onclick="return onLanguageClick('{{ translation.lang }}');" href="{{ translation.permalink }}">
        {{ trans(key="language", lang=translation.lang) }}
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</span>
