<nav id="menu" role="navigation">
  <span class="logo"></span>
  <span class="menu_items">
    <span class="menuitem{% if resource.path != '/' %}"><a href="/">{% else %}_active">{% endif %}
        <span>{{ trans(key='home') }}</span>
        {%- if resource.path != '/' %}</a>{% endif %}
    </span>
    •
    <span class="menuitem{% if resource.path != '/donate/' %}"><a href="/donate/">{% else %}_active">{% endif %}
        <span>❤️ {{ trans(key='donate') }}</span>
        {% if resource.path != '/donate/' %}</a>{% endif %}
    </span>
    •
    <span class="menuitem{% if resource.path != '/support-us/' %}"><a href="/support-us/">{% else %}_active">{% endif %}
        <span>{{ trans(key='support-us') }}</span>
        {% if resource.path != '/support-us/' %}</a>{% endif %}
    </span>
    •
    <span class="menuitem">
      <a href="https://github.com/organicmaps/organicmaps" target="_blank" class="github">
        <span>GitHub</span>
      </a>
    </span>
  </span>

</nav>
