{% set langPathPrefix = '' %}
{# TODO: Replace 'en' with config.default_language after upgrading Zola #}
{% if lang != 'en' %}
  {% set langPathPrefix = '/' ~ lang %}
{% endif %}
<nav id="menu" role="navigation">
  <a href="{{ langPathPrefix }}/"><span class="logo"></span></a>
  <span class="menu_items">
    <span class="menuitem{% if '/news/' not in resource.path %}">
      <a href="{{ langPathPrefix }}/news/">{% else %}_active">{% endif %}
        <span>{{ trans(key='news', lang=lang) }}</span>
        {%- if '/news/' not in resource.path %}</a>{% endif %}
    </span>
    •
    <span class="menuitem{% if '/donate/' not in resource.path %}">
      <a href="{{ langPathPrefix }}/donate/">{% else %}_active">{% endif %}
        <span style="color: red">{{ trans(key='donate', lang=lang) }}</span>
        {% if '/donate/' not in resource.path %}</a>{% endif %}
    </span>
    •
    <span class="menuitem{% if '/support-us/' not in resource.path %}">
      <a href="{{ langPathPrefix }}/support-us/">{% else %}_active">{% endif %}
        <span>{{ trans(key='support-us', lang=lang) }}</span>
        {% if '/support-us/' not in resource.path %}</a>{% endif %}
    </span>
    •
    <span class="menuitem">
      <a href="https://github.com/organicmaps/organicmaps" target="_blank" class="github">
        <span>GitHub</span>
      </a>
    </span>
  </span>

</nav>
