{% set news_path = "/news/" %}
{% if lang == 'en' %}
{% set root_path = "/" %}
{% set donate_path = "/donate/" %}
{% set support_us_path = "/support-us/" %}
{% else %}
{% set root_path = "/" ~ lang ~ "/" %}
{% set donate_path = "/" ~ lang ~ "/donate/" %}
{% set support_us_path = "/" ~ lang ~ "/support-us/" %}
{% endif %}

<nav id="menu" role="navigation">
  <a href="{{ root_path }}"><span class="logo"></span></a>
  <span class="menu_items">
    <span class="menuitem{% if resource.path != news_path %}"><a href="{{ news_path }}">{% else %}_active">{% endif %}
      <span>{{ trans(key='news',lang=lang) }}</span>
      {%- if resource.path != news_path %}</a>{% endif %}
    </span>
    •
    <span class="menuitem{% if resource.path != donate_path %}"><a href="{{ donate_path }}">{% else %}_active">{% endif %}
        <span style="color: red; font-weight: 500">{{ trans(key='donate',lang=lang) }}</span>
        {% if resource.path != donate_path %}</a>{% endif %}
    </span>
    •
    <span class="menuitem{% if resource.path != support_us_path %}"><a href="{{ support_us_path }}">{% else %}_active">{% endif %}
        <span>{{ trans(key='support-us',lang=lang) }}</span>
        {% if resource.path != support_us_path %}</a>{% endif %}
    </span>
    •
    <span class="menuitem">
      <a href="https://github.com/organicmaps/organicmaps" target="_blank" class="github">
        <span>GitHub</span>
      </a>
    </span>
  </span>

</nav>
