{% extends 'base.html' %}

{% block meta %}
{% set latestStr = resource.subsections | sort | last %}
{% set latestSection = get_section(path=latestStr) %}
{% set latestPage = latestSection.pages | first %}
<meta property="article:published_time" content="{{ latestPage.date }}">
{% endblock meta %}

{% block content %}

<h1>{{ resource.title }}</h1>

{% for section in resource.subsections | sort | reverse %}
{% set s = get_section(path=section) %}
{% for post in s.pages %}
<div class="news_date">&nbsp;<a href="{{ post.path }}">{{ post.date | date(format='%B %e, %Y') }}</a>&nbsp;</div>
<div class="news_content_image">
{% if post.content %}
  <div class="news_content">{{ post.content | safe }}</div>
{% endif %}  
{% for photo in post.assets %}
<img class="news_image" src="{{ post.path }}/{{ photo | split(pat='/') | last }}" />
{% endfor %}
</div>
{% endfor %}
{% endfor %}

{% endblock content %}
