<div class="sections">
    <div class="container shadow">
        <div class="sections__separate">
            <div class="sections__separate__info">
                <div class="sections__separate__info__title">
                    Search and Plan Route
                </div>
                <div class="sections__separate__info__description">
                    See the place you want to go while in an underground parking garage, and navigate while on a distant hike.
                </div>
                <a class="sections__separate__info__link">
                    Learn more
                </a>
            </div>
            <img src="/images/sections/search-and-plan-route-banner.png">
        </div>
    </div>
    <div class="container container--main">
        <div class="sections__separate">
            <img src="/images/sections/no-tracking-banner.png">
            <div class="sections__separate__info">
                <div class="sections__separate__info__title">
                    No Tracking or Data Collection
                </div>
                <div class="sections__separate__info__description">
                    The app is designed with privacy as a priority and does not identify users, or track information about them.                </div>
                <a class="sections__separate__info__link">
                    Learn more
                </a>
            </div>
        </div>
        <div class="sections__separate">
            <div class="sections__separate__info">
                <div class="sections__separate__info__title">
                    Save Your Battery
                </div>
                <div class="sections__separate__info__description">
                    Efficiently uses your battery, doesn’t drain your battery like other navigation apps                </div>
                <a class="sections__separate__info__link">
                    Learn more
                </a>
            </div>
            <img src="/images/sections/save-your-battery-banner.png">
        </div>
        <div class="sections__separate">
            <img src="/images/sections/free-and-builty-by-community-banner.png">
            <div class="sections__separate__info">
                <div class="sections__separate__info__title">
                    Free and Built by the Community
                </div>
                <div class="sections__separate__info__description">
                    People like you helped build the app by adding locations to the OpenStreetMap, giving feedback on features, and contributing code                </div>
                <a class="sections__separate__info__link">
                    Learn more
                </a>
            </div>
        </div>
    </div>
</div>