{% set langPathPrefix = '' %}
{# TODO: Replace 'en' with config.default_language after upgrading Zola #}
{% if lang != 'en' %}
  {% set langPathPrefix = '/' ~ lang %}
{% endif %}
<nav id="menu" role="navigation">
  <a href="{{ langPathPrefix | safe }}/"><span class="top_menu_logo"></span></a>
  <span>
    {% for page in [
      get_section(path="news/_index.md"),
      get_page(path="donate/index.md"),
      get_page(path="support-us/index.md")
    ] %}
    {% set translated = page.translations | filter(attribute='lang', value=lang) | first %}
    {% if translated %}
      {% if "_index" in translated.path %}
        {% set page = get_section(path=translated.path) %}
      {% else %}
        {% set page = get_page(path=translated.path) %}
      {% endif %}
    {% endif %}
    <span class="top_menu_{{ page.path | split(pat="/") | reverse | nth(n=1) }} top_menu_item{% if page.path != resource.path %}">
      <a href="{{ page.permalink | replace(from=config.base_url, to="") | safe }}">{% else %}_active">{% endif %}
        <span>{{ page.extra.menu_title }}</span>
        {%- if page.path != resource.path %}</a>{% endif %}
    </span>
    •
    {% endfor %}
    <span class="top_menu_item">
      <a href="https://github.com/organicmaps/organicmaps" target="_blank" class="top_menu_github">
        <span>GitHub</span>
      </a>
    </span>
    {% include 'language_selector.html' %}
  </span>

</nav>
