<a class="button button--main btn-download" href=`/download`>Download</a>
<script>
    const btnDownload = document.querySelectorAll('.btn-download')

    if(btnDownload.length > 0) {
        function detectDevice() {
            const ua = navigator.userAgent;

            if (/android/i.test(ua)) {
                return "https://play.google.com/store/apps/details?id=app.organicmaps";
            } else if (/iPad|iPhone|iPod/.test(ua) && !window.MSStream) {
                return "https://apps.apple.com/us/app/organic-maps-hike-bike-drive/id1567437057";
            } else if (/Windows Phone/i.test(ua) || /IEMobile/i.test(ua)) {
                return "https://play.google.com/store/apps/details?id=app.organicmaps";
            } else if (/linux/i.test(ua)) {
                return "/download";
            } else if (/macintosh|mac os x/i.test(ua)) {
                return "/download";
            } else if (/windows|win32/i.test(ua)) {
                return "/download";
            } else {
                return "/download";
            }
        }
        btnDownload.forEach(item => {
            item.href = detectDevice()
        })
    }

    console.log(detectDevice());
</script>