@import "../variables/media";

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  @media (max-width: $media-md) {
    background-color: var(--common-green-primery);

  }

  &__container {
    padding: 14rem 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__link a {
    text-decoration: none;
    font: var(--nav-link);
    color: var(--common-white);
    cursor: pointer;
    padding: 8rem 10rem;
    @media (max-width: $media-md) {
      color: var(--common-black);
    }
  }

  &__logo {
    color: var(--common-white);
    display: flex;
    align-items: center;
    @media (max-width: $media-md) {
      color: var(--common-green);
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $media-md) {
      position: absolute;
      background-color: var(--common-green-primery);
      top: 66rem;
      width: 100%;
      right: -100vw;
      opacity: 0;
      padding: 0 16rem;
      overflow: scroll;
      height: calc(100vh - 55rem);
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 16rem;
      z-index: 80;
      transition: left var(--transition), opacity var(--transition);

      &.is-active {
        right: 0;
        opacity: 1;
      }
    }
  }

  &__btn {
    @media (max-width: $media-md) {
      margin-left: auto;
      .button--main {
        padding: 8rem 12rem;
        min-width: 107rem;
      }
    }
  }

  &__ul {
    display: flex;
    @media (max-width: $media-md) {
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 16rem;
      padding: 16rem 0;
      border-top: 1rem solid var(--common-green-border);
      border-bottom: 1rem solid var(--common-green-border);
    }
  }

  &__menu-btn {
    display: none;
    @media (max-width: $media-md) {
      width: 30rem;
      height: 30rem;
      margin-left: 20rem;
      display: flex;
      align-items: center;
      position: relative;
      &.is-active {
        .header__close-line {
       width: 0;
          &:first-child {
          transform: translate(-50%, -50%) rotate(45deg);
    top: 15rem;
            width: 100%;
          }

          &:last-child {
           width: 100%;
            transform: translate(-50%, -50%) rotate(-45deg);
    bottom: 13rem;
          }
        }
      }
    }
  }

  &__close-line {
    @media (max-width: $media-md) {
      transition: all 0.5s;
      height: 2rem;
      width: 100%;
      border-radius: 2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--common-black);
      &:first-child {
        top: 6rem;
      }
      &:last-child {
        top: auto;
        bottom: 3rem;
      }
    }

  }

  &__item {
    text-align: center;
  }

  &__mobile {
    display: none;
    @media (max-width: $media-md) {
      display: block;
    }
  }

  &__app-link {
    padding-bottom: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16rem 0;

    a {
      display: block;
      width: 100%;
    }

    svg {
      width: 100%;
    }
  }

  &__card {
    padding: 20rem 0;
        color: var(--common-green);
  }

  &__icon-title {
    color: var(--common-black);
  }

  &__icon-text {
    color: var(--common-grey-v2);
    margin-bottom: 20rem;
  }

  &__line {
    background-color: var(--common-line-color);
    height: 1rem;
    max-width: 240rem;
    margin: 0 auto;
  }

  &--green {
    //animation: header-play 2.2s ease-in-out;
    background-color: var(--common-green-primery);
    transition: background-color 1s;
    .header {
      transition: background-color 1s;
      &__logo {
        transition: color var(--transition);
        color: var(--common-green);
      }

      &__link a {
        transition: color var(--transition);
        color: var(--common-black);
      }
    }
  }
}

@keyframes header-play {
  from {
    max-height: 0;
  }
  to {
    max-height: 1200rem;
  }
}
