@import "../variables/media";

.section-social {
  margin-bottom: var(--container-mob-section);
  @media (max-width: $media-md) {
  margin-bottom: 40rem;
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-content: center;
    gap: 22rem;
    @media (max-width: $media-md) {
      gap: 6rem;
      align-items: center;
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &__title {
    color: var(--black-white);
    text-align: center;
    margin-bottom: 24rem;
    @media (max-width: $media-md) {
      margin-bottom: 20rem;
    }
  }

  &__item {
    width: 59px;
    height: 59px;
    border: 2rem solid var(--black-white);
    padding: 13rem;
    border-radius: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    svg {
      color: var(--black-white);
    }

    a {
      display: flex;
    }

    @media (max-width: $media-md) {

      border: 1rem solid var(--black-white);
      svg {

      }
    }
  }
}