@import "../variables/media";

.support-block {
  margin-bottom: var(--container-mob-section);
  @media (max-width: $media-sm) {
        padding: 0 16rem;
       }
  &__container {
    background-color: var(--bg-green);
    border-radius: 24rem;
    padding: 50rem;
    max-width: 1070rem;
    display: flex;
    flex-direction: column;
    gap: 30rem;

  }

  &__title {
    color: var(--black-white);
       @media (max-width: $media-md) {
         text-align: center;
       }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: $media-md) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__icon-title {
    margin: 20rem 0 10rem;
  }

  &__card {
    padding: 0 50rem;
    border-right: 1rem solid var(--common-line-color);

    svg {
      color: var(--green-button);
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      border-right: none;
    }

    @media (max-width: $media-md) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 0 20rem;
      margin-bottom: 20rem;
      border: none;
      border-bottom: 1rem solid var(--common-line-color);
      &:last-child {
     border: none;
        padding: 0;
      margin-bottom: 0;

      }
    }
    @media (max-width: $media-md) {
         text-align: center;
       }
  }

}